H1 {
    margin-top: 0;
    margin-bottom: 0;
}

article {
    margin-bottom: 24px;
    text-align: justify;
}

h4 {
    margin: 0;
}

span.cr {
    font-weight: bold;
}

a {
    color: black;
    text-decoration: unset;
    padding: 0px 2px 0px 2px;
}

a[href]:hover {
    color: white;
}

abbr.cr {
    padding-top: 7px;
    padding-bottom: 4px;
}

abbr.cr > abbr.cr {
    padding-top: 4px;
    padding-bottom: 2px;
}

abbr.cr > abbr.cr > abbr.cr {
    padding-top: 0px;
    padding-bottom: 0px;
}

abbr.cr > a {
    background-color: inherit;
    font-size: 1.5em;
}

abbr.cr > abbr.cr > a {
    font-size: 1.25em;
}

abbr.cr > abbr.cr > abbr.cr > a {
    font-size: 1em;
}

header > span.legend > abbr.cr {
    padding-top: 0px;
    padding-bottom: 0px;
}

header > span.legend > abbr.cr > a {
    font-size: 1em;
}

header {
    display: flex;
    justify-content: space-between;
}

header > span {
    flex: 1 0 0;
    margin-left: 16px;
}

header > span.legend {
    text-align: right;
}

abbr.cr.cr-0 {
    background-color: white;
}

section.side-by-side {
    display: flex;
}

section.side-by-side > section:first-child {
    margin-right: 24px;
}

del {
    text-decoration: unset;
    color: rgba(0, 0, 0, 0.5);
}

.pair {
    margin-bottom: 0.5em;
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid black;
}

td, th {
    text-align: right;
    padding: 1px 2px 1px 6px;
    white-space: nowrap;
}

td:nth-child(1), th:nth-child(1) {
    text-align: left;
}

td:nth-child(8)::before {
    content: "±";
}

section > div {
    display: flex;
    flex-wrap: wrap-reverse;
}

section > div > article {
    flex: 1 0 66%;
}

section > div > article + div {
    flex: 0 0 auto;
}

.overall-stats {
    display: flex;
    flex-wrap: wrap;
}

.overall-stats > table:first-child {
    margin-right: 24px;
}

@media screen and (max-width: 1800px) {
    section > div > article + div {
        display: flex;
        flex-wrap: wrap;
        flex: 0 1 auto;
    }
}

span.cr-1, abbr.cr-1 {
    background-color: rgb(0, 255, 0);
}

span.cr-2, abbr.cr-2 {
    background-color: rgb(185, 0, 255);
}

span.cr-3, abbr.cr-3 {
    background-color: rgb(255, 52, 0);
}

span.cr-4, abbr.cr-4 {
    background-color: rgb(27, 220, 255);
}

span.cr-5, abbr.cr-5 {
    background-color: rgb(255, 232, 135);
}

span.cr-6, abbr.cr-6 {
    background-color: rgb(255, 123, 181);
}

span.cr-7, abbr.cr-7 {
    background-color: rgb(3, 128, 255);
}

span.cr-8, abbr.cr-8 {
    background-color: rgb(32, 255, 176);
}

span.cr-9, abbr.cr-9 {
    background-color: rgb(76, 153, 0);
}

span.cr-10, abbr.cr-10 {
    background-color: rgb(255, 228, 229);
}

span.cr-11, abbr.cr-11 {
    background-color: rgb(238, 255, 0);
}

span.cr-12, abbr.cr-12 {
    background-color: rgb(254, 159, 0);
}

span.cr-13, abbr.cr-13 {
    background-color: rgb(255, 0, 91);
}

span.cr-14, abbr.cr-14 {
    background-color: rgb(255, 1, 203);
}

span.cr-15, abbr.cr-15 {
    background-color: rgb(211, 178, 255);
}

span.cr-16, abbr.cr-16 {
    background-color: rgb(160, 81, 204);
}

span.cr-17, abbr.cr-17 {
    background-color: rgb(150, 225, 193);
}

span.cr-18, abbr.cr-18 {
    background-color: rgb(182, 255, 129);
}

span.cr-19, abbr.cr-19 {
    background-color: rgb(172, 161, 0);
}

span.cr-20, abbr.cr-20 {
    background-color: rgb(17, 157, 233);
}

span.cr-21, abbr.cr-21 {
    background-color: rgb(255, 124, 73);
}

span.cr-22, abbr.cr-22 {
    background-color: rgb(8, 246, 106);
}

span.cr-23, abbr.cr-23 {
    background-color: rgb(255, 0, 147);
}

span.cr-24, abbr.cr-24 {
    background-color: rgb(102, 91, 255);
}

span.cr-25, abbr.cr-25 {
    background-color: rgb(138, 229, 26);
}

span.cr-26, abbr.cr-26 {
    background-color: rgb(1, 177, 90);
}

span.cr-27, abbr.cr-27 {
    background-color: rgb(182, 214, 255);
}

span.cr-28, abbr.cr-28 {
    background-color: rgb(0, 255, 244);
}

span.cr-29, abbr.cr-29 {
    background-color: rgb(253, 255, 203);
}

span.cr-30, abbr.cr-30 {
    background-color: rgb(255, 142, 243);
}

span.cr-31, abbr.cr-31 {
    background-color: rgb(252, 176, 92);
}

span.cr-32, abbr.cr-32 {
    background-color: rgb(199, 56, 163);
}

span.cr-33, abbr.cr-33 {
    background-color: rgb(255, 214, 0);
}

span.cr-34, abbr.cr-34 {
    background-color: rgb(233, 87, 255);
}

span.cr-35, abbr.cr-35 {
    background-color: rgb(253, 180, 218);
}

span.cr-36, abbr.cr-36 {
    background-color: rgb(222, 234, 85);
}

span.cr-37, abbr.cr-37 {
    background-color: rgb(175, 219, 142);
}

span.cr-38, abbr.cr-38 {
    background-color: rgb(225, 45, 47);
}

span.cr-39, abbr.cr-39 {
    background-color: rgb(208, 255, 255);
}

span.cr-40, abbr.cr-40 {
    background-color: rgb(134, 121, 220);
}

span.cr-41, abbr.cr-41 {
    background-color: rgb(0, 200, 155);
}

span.cr-42, abbr.cr-42 {
    background-color: rgb(255, 114, 0);
}

span.cr-43, abbr.cr-43 {
    background-color: rgb(0, 189, 27);
}

span.cr-44, abbr.cr-44 {
    background-color: rgb(255, 83, 133);
}

span.cr-45, abbr.cr-45 {
    background-color: rgb(151, 192, 79);
}

span.cr-46, abbr.cr-46 {
    background-color: rgb(153, 255, 186);
}

span.cr-47, abbr.cr-47 {
    background-color: rgb(247, 203, 76);
}

span.cr-48, abbr.cr-48 {
    background-color: rgb(149, 191, 0);
}

span.cr-49, abbr.cr-49 {
    background-color: rgb(255, 0, 255);
}

span.cr-50, abbr.cr-50 {
    background-color: rgb(255, 214, 158);
}

span.cr-51, abbr.cr-51 {
    background-color: rgb(100, 237, 129);
}

span.cr-52, abbr.cr-52 {
    background-color: rgb(197, 45, 194);
}

span.cr-53, abbr.cr-53 {
    background-color: rgb(152, 121, 255);
}

span.cr-54, abbr.cr-54 {
    background-color: rgb(81, 210, 211);
}

span.cr-55, abbr.cr-55 {
    background-color: rgb(161, 64, 241);
}

span.cr-56, abbr.cr-56 {
    background-color: rgb(137, 166, 255);
}

span.cr-57, abbr.cr-57 {
    background-color: rgb(110, 205, 75);
}

span.cr-58, abbr.cr-58 {
    background-color: rgb(210, 66, 5);
}

span.cr-59, abbr.cr-59 {
    background-color: rgb(203, 149, 7);
}

span.cr-60, abbr.cr-60 {
    background-color: rgb(245, 217, 255);
}

span.cr-61, abbr.cr-61 {
    background-color: rgb(103, 255, 73);
}

span.cr-62, abbr.cr-62 {
    background-color: rgb(231, 255, 146);
}

span.cr-63, abbr.cr-63 {
    background-color: rgb(45, 254, 209);
}

span.cr-64, abbr.cr-64 {
    background-color: rgb(207, 147, 255);
}

span.cr-65, abbr.cr-65 {
    background-color: rgb(255, 94, 217);
}

span.cr-66, abbr.cr-66 {
    background-color: rgb(17, 125, 221);
}

span.cr-67, abbr.cr-67 {
    background-color: rgb(198, 193, 81);
}

span.cr-68, abbr.cr-68 {
    background-color: rgb(230, 128, 35);
}

span.cr-69, abbr.cr-69 {
    background-color: rgb(207, 255, 72);
}

span.cr-70, abbr.cr-70 {
    background-color: rgb(91, 190, 240);
}

span.cr-71, abbr.cr-71 {
    background-color: rgb(227, 148, 217);
}

span.cr-72, abbr.cr-72 {
    background-color: rgb(227, 122, 255);
}

span.cr-73, abbr.cr-73 {
    background-color: rgb(108, 206, 131);
}

span.cr-74, abbr.cr-74 {
    background-color: rgb(213, 228, 207);
}

span.cr-75, abbr.cr-75 {
    background-color: rgb(255, 83, 94);
}

span.cr-76, abbr.cr-76 {
    background-color: rgb(194, 98, 195);
}

span.cr-77, abbr.cr-77 {
    background-color: rgb(255, 85, 179);
}

span.cr-78, abbr.cr-78 {
    background-color: rgb(213, 214, 0);
}

span.cr-79, abbr.cr-79 {
    background-color: rgb(141, 217, 237);
}

span.cr-80, abbr.cr-80 {
    background-color: rgb(135, 254, 108);
}

span.cr-81, abbr.cr-81 {
    background-color: rgb(203, 253, 195);
}

span.cr-82, abbr.cr-82 {
    background-color: rgb(0, 163, 45);
}

span.cr-83, abbr.cr-83 {
    background-color: rgb(233, 0, 166);
}

span.cr-84, abbr.cr-84 {
    background-color: rgb(221, 221, 150);
}

span.cr-85, abbr.cr-85 {
    background-color: rgb(154, 255, 242);
}

span.cr-86, abbr.cr-86 {
    background-color: rgb(12, 106, 254);
}

span.cr-87, abbr.cr-87 {
    background-color: rgb(252, 223, 194);
}

span.cr-88, abbr.cr-88 {
    background-color: rgb(255, 0, 39);
}

span.cr-89, abbr.cr-89 {
    background-color: rgb(197, 5, 228);
}

span.cr-90, abbr.cr-90 {
    background-color: rgb(170, 225, 79);
}

span.cr-91, abbr.cr-91 {
    background-color: rgb(169, 181, 243);
}

span.cr-92, abbr.cr-92 {
    background-color: rgb(255, 0, 119);
}

span.cr-93, abbr.cr-93 {
    background-color: rgb(129, 255, 0);
}

span.cr-94, abbr.cr-94 {
    background-color: rgb(76, 224, 198);
}

span.cr-95, abbr.cr-95 {
    background-color: rgb(6, 205, 84);
}

span.cr-96, abbr.cr-96 {
    background-color: rgb(204, 218, 231);
}

span.cr-97, abbr.cr-97 {
    background-color: rgb(253, 188, 29);
}

span.cr-98, abbr.cr-98 {
    background-color: rgb(96, 188, 1);
}

span.cr-99, abbr.cr-99 {
    background-color: rgb(182, 102, 253);
}

span.cr-100, abbr.cr-100 {
    background-color: rgb(181, 255, 160);
}

span.cr-101, abbr.cr-101 {
    background-color: rgb(239, 113, 198);
}

span.cr-102, abbr.cr-102 {
    background-color: rgb(4, 211, 135);
}

span.cr-103, abbr.cr-103 {
    background-color: rgb(138, 214, 111);
}

span.cr-104, abbr.cr-104 {
    background-color: rgb(187, 255, 0);
}

span.cr-105, abbr.cr-105 {
    background-color: rgb(234, 22, 222);
}

span.cr-106, abbr.cr-106 {
    background-color: rgb(255, 0, 66);
}

span.cr-107, abbr.cr-107 {
    background-color: rgb(255, 231, 74);
}

span.cr-108, abbr.cr-108 {
    background-color: rgb(90, 105, 225);
}

span.cr-109, abbr.cr-109 {
    background-color: rgb(249, 200, 120);
}

span.cr-110, abbr.cr-110 {
    background-color: rgb(152, 173, 35);
}

span.cr-111, abbr.cr-111 {
    background-color: rgb(0, 215, 0);
}

span.cr-112, abbr.cr-112 {
    background-color: rgb(0, 255, 143);
}

span.cr-113, abbr.cr-113 {
    background-color: rgb(255, 92, 55);
}

span.cr-114, abbr.cr-114 {
    background-color: rgb(255, 195, 255);
}

span.cr-115, abbr.cr-115 {
    background-color: rgb(58, 243, 255);
}

span.cr-116, abbr.cr-116 {
    background-color: rgb(193, 211, 115);
}

span.cr-117, abbr.cr-117 {
    background-color: rgb(178, 60, 217);
}

span.cr-118, abbr.cr-118 {
    background-color: rgb(236, 61, 141);
}

span.cr-119, abbr.cr-119 {
    background-color: rgb(253, 174, 59);
}

span.cr-120, abbr.cr-120 {
    background-color: rgb(114, 144, 254);
}

span.cr-121, abbr.cr-121 {
    background-color: rgb(255, 250, 125);
}

span.cr-122, abbr.cr-122 {
    background-color: rgb(228, 255, 174);
}

span.cr-123, abbr.cr-123 {
    background-color: rgb(252, 255, 73);
}

span.cr-124, abbr.cr-124 {
    background-color: rgb(203, 255, 229);
}

span.cr-125, abbr.cr-125 {
    background-color: rgb(218, 186, 17);
}

span.cr-126, abbr.cr-126 {
    background-color: rgb(118, 216, 164);
}

span.cr-127, abbr.cr-127 {
    background-color: rgb(189, 139, 223);
}

span.cr-128, abbr.cr-128 {
    background-color: rgb(171, 254, 87);
}

span.cr-129, abbr.cr-129 {
    background-color: rgb(166, 108, 210);
}

span.cr-130, abbr.cr-130 {
    background-color: rgb(144, 255, 212);
}

span.cr-131, abbr.cr-131 {
    background-color: rgb(159, 223, 216);
}

span.cr-132, abbr.cr-132 {
    background-color: rgb(105, 222, 60);
}

span.cr-133, abbr.cr-133 {
    background-color: rgb(255, 86, 238);
}

span.cr-134, abbr.cr-134 {
    background-color: rgb(217, 254, 118);
}

span.cr-135, abbr.cr-135 {
    background-color: rgb(177, 158, 255);
}

span.cr-136, abbr.cr-136 {
    background-color: rgb(123, 187, 255);
}

span.cr-137, abbr.cr-137 {
    background-color: rgb(255, 151, 79);
}

span.cr-138, abbr.cr-138 {
    background-color: rgb(249, 255, 248);
}

span.cr-139, abbr.cr-139 {
    background-color: rgb(255, 153, 206);
}

span.cr-140, abbr.cr-140 {
    background-color: rgb(214, 92, 215);
}

span.cr-141, abbr.cr-141 {
    background-color: rgb(241, 166, 255);
}

span.cr-142, abbr.cr-142 {
    background-color: rgb(203, 199, 47);
}

span.cr-143, abbr.cr-143 {
    background-color: rgb(187, 221, 0);
}

span.cr-144, abbr.cr-144 {
    background-color: rgb(125, 255, 166);
}

span.cr-145, abbr.cr-145 {
    background-color: rgb(81, 235, 172);
}

span.cr-146, abbr.cr-146 {
    background-color: rgb(255, 240, 0);
}

span.cr-147, abbr.cr-147 {
    background-color: rgb(255, 202, 219);
}

span.cr-148, abbr.cr-148 {
    background-color: rgb(126, 187, 47);
}

span.cr-149, abbr.cr-149 {
    background-color: rgb(210, 184, 237);
}

span.cr-150, abbr.cr-150 {
    background-color: rgb(214, 35, 145);
}

span.cr-151, abbr.cr-151 {
    background-color: rgb(235, 106, 34);
}

span.cr-152, abbr.cr-152 {
    background-color: rgb(226, 39, 19);
}

span.cr-153, abbr.cr-153 {
    background-color: rgb(87, 183, 80);
}

span.cr-154, abbr.cr-154 {
    background-color: rgb(26, 158, 255);
}

span.cr-155, abbr.cr-155 {
    background-color: rgb(254, 89, 22);
}

span.cr-156, abbr.cr-156 {
    background-color: rgb(129, 88, 233);
}

span.cr-157, abbr.cr-157 {
    background-color: rgb(131, 95, 213);
}

span.cr-158, abbr.cr-158 {
    background-color: rgb(33, 225, 66);
}

span.cr-159, abbr.cr-159 {
    background-color: rgb(184, 229, 116);
}

span.cr-160, abbr.cr-160 {
    background-color: rgb(250, 65, 106);
}

span.cr-161, abbr.cr-161 {
    background-color: rgb(255, 98, 80);
}

span.cr-162, abbr.cr-162 {
    background-color: rgb(225, 191, 89);
}

span.cr-163, abbr.cr-163 {
    background-color: rgb(185, 117, 241);
}

span.cr-164, abbr.cr-164 {
    background-color: rgb(205, 229, 185);
}

span.cr-165, abbr.cr-165 {
    background-color: rgb(216, 3, 179);
}

span.cr-166, abbr.cr-166 {
    background-color: rgb(204, 170, 45);
}

span.cr-167, abbr.cr-167 {
    background-color: rgb(139, 245, 255);
}

span.cr-168, abbr.cr-168 {
    background-color: rgb(194, 214, 90);
}

span.cr-169, abbr.cr-169 {
    background-color: rgb(216, 136, 0);
}

span.cr-170, abbr.cr-170 {
    background-color: rgb(40, 164, 0);
}

span.cr-171, abbr.cr-171 {
    background-color: rgb(253, 137, 9);
}

span.cr-172, abbr.cr-172 {
    background-color: rgb(236, 219, 90);
}

span.cr-173, abbr.cr-173 {
    background-color: rgb(214, 122, 232);
}

span.cr-174, abbr.cr-174 {
    background-color: rgb(0, 255, 86);
}

span.cr-175, abbr.cr-175 {
    background-color: rgb(156, 139, 255);
}

span.cr-176, abbr.cr-176 {
    background-color: rgb(255, 253, 163);
}

span.cr-177, abbr.cr-177 {
    background-color: rgb(162, 222, 42);
}

span.cr-178, abbr.cr-178 {
    background-color: rgb(232, 31, 71);
}

span.cr-179, abbr.cr-179 {
    background-color: rgb(247, 236, 255);
}

span.cr-180, abbr.cr-180 {
    background-color: rgb(0, 186, 255);
}

span.cr-181, abbr.cr-181 {
    background-color: rgb(0, 198, 219);
}

span.cr-182, abbr.cr-182 {
    background-color: rgb(0, 208, 111);
}

span.cr-183, abbr.cr-183 {
    background-color: rgb(255, 123, 246);
}

span.cr-184, abbr.cr-184 {
    background-color: rgb(80, 113, 215);
}

span.cr-185, abbr.cr-185 {
    background-color: rgb(230, 174, 69);
}

span.cr-186, abbr.cr-186 {
    background-color: rgb(134, 235, 112);
}

span.cr-187, abbr.cr-187 {
    background-color: rgb(165, 159, 236);
}

span.cr-188, abbr.cr-188 {
    background-color: rgb(93, 208, 113);
}

span.cr-189, abbr.cr-189 {
    background-color: rgb(238, 224, 173);
}

span.cr-190, abbr.cr-190 {
    background-color: rgb(163, 232, 167);
}

span.cr-191, abbr.cr-191 {
    background-color: rgb(221, 0, 255);
}

span.cr-192, abbr.cr-192 {
    background-color: rgb(100, 255, 126);
}

span.cr-193, abbr.cr-193 {
    background-color: rgb(185, 66, 180);
}

span.cr-194, abbr.cr-194 {
    background-color: rgb(255, 249, 219);
}

span.cr-195, abbr.cr-195 {
    background-color: rgb(179, 205, 56);
}

span.cr-196, abbr.cr-196 {
    background-color: rgb(23, 143, 255);
}

span.cr-197, abbr.cr-197 {
    background-color: rgb(255, 100, 158);
}

span.cr-198, abbr.cr-198 {
    background-color: rgb(223, 91, 197);
}

span.cr-199, abbr.cr-199 {
    background-color: rgb(115, 160, 0);
}

span.cr-200, abbr.cr-200 {
    background-color: rgb(204, 70, 255);
}

span.cr-201, abbr.cr-201 {
    background-color: rgb(189, 232, 255);
}

span.cr-202, abbr.cr-202 {
    background-color: rgb(0, 189, 229);
}

span.cr-203, abbr.cr-203 {
    background-color: rgb(219, 131, 220);
}

span.cr-204, abbr.cr-204 {
    background-color: rgb(100, 103, 242);
}

span.cr-205, abbr.cr-205 {
    background-color: rgb(215, 81, 228);
}

span.cr-206, abbr.cr-206 {
    background-color: rgb(101, 231, 21);
}

span.cr-207, abbr.cr-207 {
    background-color: rgb(205, 205, 237);
}

span.cr-208, abbr.cr-208 {
    background-color: rgb(154, 255, 146);
}

span.cr-209, abbr.cr-209 {
    background-color: rgb(164, 52, 255);
}

span.cr-210, abbr.cr-210 {
    background-color: rgb(35, 237, 144);
}

span.cr-211, abbr.cr-211 {
    background-color: rgb(114, 255, 232);
}

span.cr-212, abbr.cr-212 {
    background-color: rgb(7, 224, 217);
}

span.cr-213, abbr.cr-213 {
    background-color: rgb(237, 69, 184);
}

span.cr-214, abbr.cr-214 {
    background-color: rgb(255, 145, 225);
}

span.cr-215, abbr.cr-215 {
    background-color: rgb(113, 217, 255);
}

span.cr-216, abbr.cr-216 {
    background-color: rgb(150, 90, 255);
}

span.cr-217, abbr.cr-217 {
    background-color: rgb(133, 214, 58);
}

span.cr-218, abbr.cr-218 {
    background-color: rgb(239, 213, 138);
}

span.cr-219, abbr.cr-219 {
    background-color: rgb(198, 30, 212);
}

span.cr-220, abbr.cr-220 {
    background-color: rgb(145, 255, 69);
}

span.cr-221, abbr.cr-221 {
    background-color: rgb(0, 244, 47);
}

span.cr-222, abbr.cr-222 {
    background-color: rgb(203, 229, 165);
}

span.cr-223, abbr.cr-223 {
    background-color: rgb(179, 195, 0);
}

span.cr-224, abbr.cr-224 {
    background-color: rgb(226, 7, 116);
}

span.cr-225, abbr.cr-225 {
    background-color: rgb(84, 226, 86);
}

span.cr-226, abbr.cr-226 {
    background-color: rgb(57, 191, 57);
}

span.cr-227, abbr.cr-227 {
    background-color: rgb(146, 211, 88);
}

span.cr-228, abbr.cr-228 {
    background-color: rgb(116, 136, 228);
}

span.cr-229, abbr.cr-229 {
    background-color: rgb(224, 223, 114);
}

span.cr-230, abbr.cr-230 {
    background-color: rgb(123, 225, 209);
}

span.cr-231, abbr.cr-231 {
    background-color: rgb(81, 173, 49);
}

span.cr-232, abbr.cr-232 {
    background-color: rgb(231, 0, 96);
}

span.cr-233, abbr.cr-233 {
    background-color: rgb(236, 58, 255);
}

span.cr-234, abbr.cr-234 {
    background-color: rgb(218, 166, 229);
}

span.cr-235, abbr.cr-235 {
    background-color: rgb(196, 227, 223);
}

span.cr-236, abbr.cr-236 {
    background-color: rgb(209, 250, 27);
}

span.cr-237, abbr.cr-237 {
    background-color: rgb(184, 255, 213);
}

span.cr-238, abbr.cr-238 {
    background-color: rgb(198, 242, 147);
}

span.cr-239, abbr.cr-239 {
    background-color: rgb(191, 94, 231);
}

span.cr-240, abbr.cr-240 {
    background-color: rgb(87, 151, 234);
}

span.cr-241, abbr.cr-241 {
    background-color: rgb(255, 155, 45);
}

span.cr-242, abbr.cr-242 {
    background-color: rgb(232, 255, 218);
}

span.cr-243, abbr.cr-243 {
    background-color: rgb(255, 59, 200);
}

span.cr-244, abbr.cr-244 {
    background-color: rgb(136, 233, 143);
}

span.cr-245, abbr.cr-245 {
    background-color: rgb(91, 235, 190);
}

span.cr-246, abbr.cr-246 {
    background-color: rgb(74, 203, 0);
}

span.cr-247, abbr.cr-247 {
    background-color: rgb(161, 208, 114);
}

span.cr-248, abbr.cr-248 {
    background-color: rgb(159, 241, 99);
}

span.cr-249, abbr.cr-249 {
    background-color: rgb(199, 231, 63);
}

span.cr-250, abbr.cr-250 {
    background-color: rgb(255, 65, 74);
}

span.cr-251, abbr.cr-251 {
    background-color: rgb(180, 255, 59);
}

span.cr-252, abbr.cr-252 {
    background-color: rgb(97, 255, 99);
}

span.cr-253, abbr.cr-253 {
    background-color: rgb(218, 64, 193);
}

span.cr-254, abbr.cr-254 {
    background-color: rgb(203, 204, 255);
}

span.cr-255, abbr.cr-255 {
    background-color: rgb(202, 255, 98);
}

span.cr-256, abbr.cr-256 {
    background-color: rgb(223, 223, 219);
}
